$font-size: 0.85rem;

$font-size-base:              $font-size !default; // Assumes the browser default, typically `16px`
$input-font-size:             $font-size;
$headings-font-weight: 700;


$body-bg: #f8f9fa !default;

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 2px !default;
$btn-focus-box-shadow: none;
$input-focus-width: $input-btn-focus-width !default;

.form-control {
  &:focus {
    border-width: 2px !important;
  }
}

.form-floating {
  > label {
    font-size: 0.95rem !important;
  }
 }


@import "~bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

$menu-hover-color: #adb5bd;
$menu-active-color: #fd7e14;

.my-menu {
  font-size: 10pt;
  margin-bottom: -5px;
  a {
    color: #212529;
    text-decoration: none;
    padding: 3px 6px 16px 6px;
    &:hover {
      border-bottom: 3px solid $menu-hover-color;
    }
    &:active {
      border-bottom: 3px solid $menu-active-color;
    }
    &:first-child {
      margin-left: -6px;
    }
  }
  .an-active {
    border-bottom: 3px solid $menu-active-color;
  }

  img {
    display: inline;
  }

}

.cust-name {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  padding: 3px 6px;
  margin-left: -6px;
  border-radius: .25rem;
  &:hover {
    background-color: #0d6efd;
    color: #fff;
  }
  &:active {
    color: #fff;
    background-color: #0856ca;
  }
}


.btn-outline-dark {
  background-color: #f8f9fa;
  border-color: #6c757d;
}